body {
  font-family: "Montserrat" !important;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

h2 {
  text-transform: capitalize;
  font-weight   : bold;
  font-family   : "Montserrat";
}

label {
  font-weight: normal;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
}

button {
  padding         : .5em 1.2em !important;
  height          : auto !important;
  border-radius   : 0 !important;
  background-image: none !important;
}

.uk-modal {
  background: rgba(0,0,0,.8);

  .uk-modal-footer,
  .uk-modal-header {
    padding: 15px 20px;
  }

  .uk-modal-body {
    padding: 20px;
  }

  .closeButton {
    right: 5px;
    top  : 15px;
  }
}

.fc-toolbar {
  margin: 15px 0 !important;

  .fc-next-button,
  .fc-prev-button {
    padding: .5em .7em !important;
  }
}

.fc-time-grid-container {
  height: 100% !important;
}

.fc .fc-axis {
  padding: .95em;
}

.fc-agenda-view {
  .fc-widget-content .fc-day-grid {
    .fc-content-skeleton {
      border-bottom: 1px solid #ddd;
    }
  }

  .fc-axis {
    height: 25px;
  }
}

.fc-month-view {
  .fc-week {
    max-height: 140px;
    overflow  : hidden;
  }
}

.fc-day-header {
  padding         : 12px 0 !important;
  border-color    : #ddd;
  background-color: #f7f7f7;
  text-transform  : capitalize;
  font-weight     : normal;
  font-size       : 1.2rem;
}

.fc-time {
  height          : auto !important;
  background-color: #f7f7f7;
  text-align      : center !important;
}

.fc-event {
  border-radius : 0;
  min-height    : 30px;
  text-align    : center;
  font-size     : .9rem;
  text-transform: capitalize;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0;
}

.fc-day-grid-event {
  margin    : 0;
  display   : flex;
  height    : 100%;
  margin-top: 5px;

  .fc-content {
    margin: auto;
  }

  .fc-time {
    display: none;
  }
}

.fc-time-grid-event {
  margin : 0;
  display: flex;
  height : 3.3em;

  .fc-content {
    margin: auto;
  }

  .fc-time {
    display: none;
  }
}

.fc-divider,
.fc-minor {
  display: none !important;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 5px;
}
