body {
  overflow-x : hidden;
  min-width  : 870px;
  font-family: "Montserrat" !important;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

h2 {
  text-transform: capitalize;
  font-weight   : bold;
  font-family   : "Montserrat";
}

label {
  font-weight: normal;
}

input[type=checkbox],
input[type=radio] {
  margin: 0;
}

input[type=date],
input[type=time] {
  border-width: 1px;
  border-style: solid;
}

input:required:active,
input:required:focus {
  border: 1px solid #eee;
  color : #666;
}

#calendar {
  margin-bottom: 30px;
}

.color-square {
  margin-right: 7px;
  padding     : 9px 16px;
  color       : #fff;
  cursor      : pointer;
}

.color-square.uk-active {
  border: 4px solid #bbb;
}

.color-square-1 {
  background-color: #e74c3c;
}

.color-square-2 {
  background-color: #27ae60;
}

.color-square-3 {
  background-color: #3498db;
}

.color-square-4 {
  background-color: #EB9532;
}

.color-square-5 {
  background-color: #8E44AD;
}

.color-square-6 {
  background-color: #F4D03F;
}

button {
  padding         : .5em 1.2em !important;
  height          : auto !important;
  border-radius   : 0 !important;
  background-image: none !important;
}

.uk-modal {
  background: rgba(0,0,0,.8);

  .uk-modal-footer,
  .uk-modal-header {
    padding: 15px 20px;
  }

  .uk-modal-body {
    padding: 20px;
  }

  .closeButton {
    top  : 15px;
    right: 5px;
  }
}

.fc-toolbar {
  margin: 15px 0 !important;

  .fc-next-button,
  .fc-prev-button {
    padding: .5em .7em !important;
  }
}

.fc-time-grid-container {
  height: 100% !important;

  .fc-time-grid-event {
    border: none;
  }
}

.fc .fc-axis {
  padding: .95em;
}

.fc-agenda-view {
  .fc-widget-content .fc-day-grid {
    display: none;

    .fc-content-skeleton {
      border-bottom: 1px solid #ddd;
    }
  }

  .fc-axis {
    height: 25px;
  }
}

.fc-month-view {
  .fc-week {
    overflow  : hidden;
    max-height: 140px;
  }
}

.fc-day-header {
  padding         : 12px 0 !important;
  border-color    : #ddd;
  background-color: #f7f7f7;
  text-transform  : capitalize;
  font-weight     : normal;
  font-size       : 1.2rem;
}

.fc-time {
  height          : auto !important;
  background-color: #f7f7f7;
  text-align      : center !important;
}

.fc-event {
  min-height    : 30px;
  border-radius : 0;
  text-align    : center;
  text-transform: capitalize;
  font-size     : .9rem;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0;
}

.fc-day-grid-event {
  display: flex;
  margin : 5px 0 0;
  height : 100%;

  .fc-content {
    margin: auto;
  }

  .fc-time {
    display: none;
  }
}

.fc-time-grid-event {
  display: flex;
  margin : 0;
  height : 3.3em;

  .fc-content {
    margin: auto;
  }

  .fc-time {
    display: none;
  }
}

.fc-divider,
.fc-minor {
  display: none !important;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 5px;
}
